<header class="header">
  <nav class="container nav">
    <div class="logo">
      <h1><a href="/">Meu Blog</a></h1>
    </div>
    <div class="menu">
      <a href="/admin">Posts</a>
      <a href="/admin/categories">Categories</a>
    </div>
    <a class="btn_login" href="/login">Login</a>
  </nav>
</header>