@import 'configs';
@import 'post';
@import 'posts/new';
@import 'admin/posts';

/* header */
.header{
  width: 100%;
  background-color: $bg-color;
  padding: 10px 0;
  margin-bottom: 50px;
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include device(s){
      flex-wrap: wrap;
    }
    .logo a{
      color: $secondary-color;  
      font-size: 2rem;
      @include device(s){
        font-size: 1.4rem;
      }
    }
    .menu a{
      color: $secondary-color;
      padding: 10px;
    }
    .btn_login{
      background-color: $secondary-color;
      padding: 10px 30px;
      border-radius: 5px;
      transition: .3s;
      &:hover{
        color: white;
        box-shadow: 1px 1px 4px #fff;
      }
    }
  }
}

.posts_area{
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 20px;
  .categories_nav{
    padding-top: 40px;
    border-right: 1px solid #0005;
    h2{
      margin-bottom: 40px;
    }
    li{
      margin-bottom: 20px;
      a{
        padding: 10px;
        transition: .3s;
        &:hover{
          color: $secondary-color;
        }
      }
    }
  }
  .posts{
    padding-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    .post_item{
      background-color: $secondary-color;
      text-align: center;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        color: $bg-color;
        font-size: 1.3rem;
      }
    }
  }
}